li {
  display: flex;
  align-items: center;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  max-width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid var(--lightgray);
  overflow: hidden;
  background-color: white;
}